.productCard {
    width: 360px;
    border: 1px solid #aaa;
    margin: 24px;
    box-shadow: 5px 5px 5px #000a;
    display: block;
    text-decoration: none;
    color: #333
}

.name {
    font-size: 24px;
    font-weight: bold;
}

.referencePrice {
    display: inline-block;
    text-decoration: line-through;
}

.currentPrice {
    display: inline-block;
    margin-left: 10px;
    color: #00e;
    font-size: 18px;
    font-weight: bold;
}

.productCard img {
    width: 100%;
}

.info {
    padding: 10px;
}
