@config "../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #eee;
}


.animate {
  @apply transition-all duration-500 ease-in-out;
}

.cover-screen {
  @apply top-0 right-0 bottom-0 fixed;
}

.fill-box {
  transform-box: fill-box;
}

.flex-center {
  @apply flex items-center justify-center;
}

.heading {
  @apply text-3xl mb-5 font-[400] leading-[26px] text-left;
}

.ref-price {
  @apply line-through;
}

.price:after {
  content: ' DH';
}